
body{
    background-color: #eee;
}

.cadastro{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
}

.btnCadastrarAluno{
    margin-top: 20px;
}

.tabela{
    margin-top: 30px;
}


.input{
    width: 330px;
    max-width: 350px;
    margin-top: 10px;
}

.divNovoAluno{
    padding: 25px;
}

.divNovoAluno h2{
    margin-bottom: 30px;
}

.botoesAcao{
    margin-right: 10px;
}